---
http_interactions:
- request:
    method: get
    uri: https://something.com/describe?xml=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZmVkb3JhQWRtaW46NFpqWGNkWmllUw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><fedoraRepository xmlns="http://www.fedora.info/definitions/1/0/access/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/ http://www.fedora.info/definitions/1/0/fedoraRepository.xsd"><repositoryName>Fedora
        Repository</repositoryName><repositoryBaseURL>https://fedorapprd.library.nd.edu:8443/fedora</repositoryBaseURL><repositoryVersion>3.6.2</repositoryVersion><repositoryPID>    <PID-namespaceIdentifier>UND</PID-namespaceIdentifier>    <PID-delimiter>:</PID-delimiter>    <PID-sample>UND:100</PID-sample>    <retainPID>*</retainPID></repositoryPID><repositoryOAI-identifier>    <OAI-namespaceIdentifier>library.nd.edu</OAI-namespaceIdentifier>    <OAI-delimiter>:</OAI-delimiter>    <OAI-sample>oai:library.nd.edu:UND:100</OAI-sample></repositoryOAI-identifier><sampleSearch-URL>https://fedorapprd.library.nd.edu:8443/fedora/objects</sampleSearch-URL><sampleAccess-URL>https://fedorapprd.library.nd.edu:8443/fedora/objects/demo:5</sampleAccess-URL><sampleOAI-URL>https://fedorapprd.library.nd.edu:8443/fedora/oai?verb=Identify</sampleOAI-URL><adminEmail>suhovecky@nd.edu</adminEmail></fedoraRepository>
  recorded_at: Thu, 19 May 2016 14:33:17 GMT
- request:
    method: get
    uri: https://something.com/objects?pid=true&query=pid~und:*&resultFormat=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZmVkb3JhQWRtaW46NFpqWGNkWmllUw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <result xmlns="http://www.fedora.info/definitions/1/0/types/" xmlns:types="http://www.fedora.info/definitions/1/0/types/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/types/ https://fedorapprd.library.nd.edu:8443/fedora/schema/findObjects.xsd">
          <resultList>
          <objectFields>
              <pid>und:02870v85054</pid>
          </objectFields>
          </resultList>
        </result>
  recorded_at: Thu, 19 May 2016 14:33:17 GMT
- request:
    method: get
    uri: https://something.com/objects/und:02870v85054?format=xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZmVkb3JhQWRtaW46NFpqWGNkWmllUw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><objectProfile  xmlns="http://www.fedora.info/definitions/1/0/access/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        http://www.fedora.info/definitions/1/0/objectProfile.xsd" pid="und:02870v85054"
        ><objLabel></objLabel><objOwnerId>fedoraAdmin</objOwnerId><objModels><model>info:fedora/afmodel:GenericFile</model><model>info:fedora/fedora-system:FedoraObject-3.0</model></objModels><objCreateDate>2015-01-20T19:57:57.115Z</objCreateDate><objLastModDate>2015-04-08T18:47:47.825Z</objLastModDate><objDissIndexViewURL>https://fedorapprd.library.nd.edu:8443/fedora/objects/und%3A02870v85054/methods/fedora-system%3A3/viewMethodIndex</objDissIndexViewURL><objItemIndexViewURL>https://fedorapprd.library.nd.edu:8443/fedora/objects/und%3A02870v85054/methods/fedora-system%3A3/viewItemIndex</objItemIndexViewURL><objState>A</objState></objectProfile>
  recorded_at: Thu, 19 May 2016 14:33:17 GMT
- request:
    method: get
    uri: https://something.com/objects/und:02870v85054/datastreams?format=xml&profiles=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZmVkb3JhQWRtaW46NFpqWGNkWmllUw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><objectDatastreams xmlns="http://www.fedora.info/definitions/1/0/access/"
        xmlns:apim="http://www.fedora.info/definitions/1/0/management/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.fedora.info/definitions/1/0/access/
        https://fedorapprd.library.nd.edu:8443/fedora/schema/listDatastreams.xsd"
        pid="und:02870v85054"  baseURL="https://fedorapprd.library.nd.edu:8443/fedora/"
        ><datastreamProfile pid="und:02870v85054" dsID="DC" ><apim:dsLabel>Dublin
        Core Record for this object</apim:dsLabel><apim:dsVersionID>DC1.0</apim:dsVersionID><apim:dsCreateDate>2015-01-20T19:57:57.115Z</apim:dsCreateDate><apim:dsState>A</apim:dsState><apim:dsMIME>text/xml</apim:dsMIME><apim:dsFormatURI>http://www.openarchives.org/OAI/2.0/oai_dc/</apim:dsFormatURI><apim:dsControlGroup>X</apim:dsControlGroup><apim:dsSize>344</apim:dsSize><apim:dsVersionable>true</apim:dsVersionable><apim:dsInfoType></apim:dsInfoType><apim:dsLocation>und:02870v85054+DC+DC1.0</apim:dsLocation><apim:dsLocationType></apim:dsLocationType><apim:dsChecksumType>MD5</apim:dsChecksumType><apim:dsChecksum>08c75da4c76f08aac299db6b9739e54f</apim:dsChecksum></datastreamProfile><datastreamProfile
        pid="und:02870v85054" dsID="RELS-EXT" ><apim:dsLabel></apim:dsLabel><apim:dsVersionID>RELS-EXT.6</apim:dsVersionID><apim:dsCreateDate>2015-04-08T18:47:47.413Z</apim:dsCreateDate><apim:dsState>A</apim:dsState><apim:dsMIME>application/rdf+xml</apim:dsMIME><apim:dsFormatURI></apim:dsFormatURI><apim:dsControlGroup>M</apim:dsControlGroup><apim:dsSize>696</apim:dsSize><apim:dsVersionable>true</apim:dsVersi[...]
- request:
    method: get
    uri: https://something.com/objects/und:02870v85054/datastreams/descMetadata/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZmVkb3JhQWRtaW46NFpqWGNkWmllUw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="descMetadata.txt"
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: |
        <info:fedora/und:02870v85054> <http://purl.org/dc/terms/creator> "David Dressing" .
        <info:fedora/und:02870v85054> <http://purl.org/dc/terms/dateSubmitted> "2015-01-20T14:53:43-05:00" .
        <info:fedora/und:02870v85054> <http://purl.org/dc/terms/modified> "2015-01-20Z" .
        <info:fedora/und:02870v85054> <http://purl.org/dc/terms/modifier> "2015-01-20T14:53:43-05:00" .
        <info:fedora/und:02870v85054> <http://purl.org/dc/terms/title> "el_salvador_1995_export_version.dta" .
        <info:fedora/und:02870v85054> <http://purl.org/dc/terms/type> "GenericFile" .
        <info:fedora/und:02870v85054> <http://purl.org/dc/terms/creator#administrative_unit> "University of Notre Dame::College of Science::Non-Departmental" .
        <info:fedora/und:02870v85054> <http://purl.org/dc/terms/creator#administrative_unit> "University of Notre Dame" .
  recorded_at: Thu, 19 May 2016 14:33:17 GMT
- request:
    method: get
    uri: https://something.com/objects/und:02870v85054/datastreams/RELS-EXT/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZmVkb3JhQWRtaW46NFpqWGNkWmllUw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="RELS-EXT.rdf"
      Content-Type:
      - application/rdf+xml
    body:
      encoding: UTF-8
      string: |
        <?xml version='1.0' encoding='utf-8' ?>
        <rdf:RDF xmlns:ns0='http://projecthydra.org/ns/relations#' xmlns:ns1='info:fedora/fedora-system:def/model#' xmlns:ns2='info:fedora/fedora-system:def/relations-external#' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#'>
          <rdf:Description rdf:about='info:fedora/und:02870v85054'>
            <ns0:hasEditor rdf:resource='info:fedora/und:ks65h991r5x' />
            <ns0:hasEditorGroup rdf:resource='info:fedora/und:ms35t724s3j' />
            <ns0:hasViewerGroup rdf:resource='info:fedora/und:7m01bk14722' />
            <ns1:hasModel rdf:resource='info:fedora/afmodel:GenericFile' />
            <ns2:isPartOf rdf:resource='info:fedora/und:zs25x636043' />
          </rdf:Description>
        </rdf:RDF>
  recorded_at: Thu, 19 May 2016 14:33:17 GMT
- request:
    method: get
    uri: https://something.com/objects/und:02870v85054/datastreams/rightsMetadata/content
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZmVkb3JhQWRtaW46NFpqWGNkWmllUw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="rightsMetadata.xml"
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <rightsMetadata xmlns="http://hydra-collab.stanford.edu/schemas/rightsMetadata/v1" version="0.1">
          <copyright>
            <human type="title"/>
            <human type="description"/>
            <machine type="uri"/>
          </copyright>
          <access type="discover">
            <human/>
            <machine/>
          </access>
          <access type="read">
            <human/>
            <machine>
              <group>und:7m01bk14722</group>
            </machine>
          </access>
          <access type="edit">
            <human/>
            <machine>
              <person>ddressin</person>
              <group>und:ms35t724s3j</group>
            </machine>
          </access>
          <embargo>
            <human/>
            <machine/>
          </embargo>
        </rightsMetadata>
  recorded_at: Thu, 19 May 2016 14:33:17 GMT
recorded_with: VCR 3.0.1
